In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.random.rand(10))

In [3]:
s1

0    0.156849
1    0.769477
2    0.168590
3    0.119425
4    0.043855
5    0.042805
6    0.154702
7    0.468593
8    0.574658
9    0.162203
dtype: float64

In [4]:
type(s1)

pandas.core.series.Series

In [8]:
s1.describe()

count    10.000000
mean      0.266116
std       0.248331
min       0.042805
25%       0.128245
50%       0.159526
75%       0.393592
max       0.769477
dtype: float64

In [10]:
s1.dtype

dtype('float64')

In [5]:
d1 = pd.DataFrame(np.random.rand(500, 5), index = np.arange(500))

In [6]:
d1

            0         1         2         3         4
0    0.788123  0.972468  0.463594  0.926203  0.268829
1    0.811221  0.517939  0.959999  0.085303  0.687814
2    0.671856  0.049564  0.985634  0.535433  0.892215
3    0.119250  0.845539  0.209350  0.407717  0.402083
4    0.134674  0.800343  0.721019  0.369413  0.673376
..        ...       ...       ...       ...       ...
495  0.686891  0.187227  0.846971  0.715675  0.268602
496  0.875066  0.053198  0.717382  0.306205  0.029654
497  0.883197  0.598489  0.999879  0.069744  0.626405
498  0.652893  0.515335  0.145144  0.596191  0.537987
499  0.067964  0.955279  0.036906  0.023983  0.243949

[500 rows x 5 columns]

In [7]:
type(d1)

pandas.core.frame.DataFrame

In [11]:
d1.describe()

                0           1           2           3           4
count  500.000000  500.000000  500.000000  500.000000  500.000000
mean     0.497263    0.489739    0.517166    0.478801    0.517301
std      0.282874    0.282577    0.295033    0.287467    0.281285
min      0.000119    0.002137    0.001695    0.000752    0.000881
25%      0.253882    0.243956    0.253445    0.257622    0.281927
50%      0.484763    0.500644    0.537102    0.464864    0.512380
75%      0.742383    0.730797    0.779921    0.718273    0.773313
max      0.997733    0.999413    0.999879    0.999831    0.996810

In [13]:
d1.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [14]:
d1.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            490, 491, 492, 493, 494, 495, 496, 497, 498, 499],
           dtype='int64', length=500)

In [15]:
d1.columns

RangeIndex(start=0, stop=5, step=1)

In [17]:
d1.to_numpy()

array([[0.7881227 , 0.97246777, 0.46359408, 0.92620256, 0.26882908],
       [0.81122146, 0.5179386 , 0.95999923, 0.08530323, 0.68781369],
       [0.67185616, 0.04956398, 0.98563438, 0.53543254, 0.89221467],
       ...,
       [0.88319717, 0.59848925, 0.99987866, 0.06974378, 0.62640525],
       [0.65289311, 0.51533463, 0.14514444, 0.59619083, 0.53798699],
       [0.06796375, 0.95527937, 0.03690598, 0.02398267, 0.24394902]])

In [18]:
a1 = d1.to_numpy()

In [19]:
a1

array([[0.7881227 , 0.97246777, 0.46359408, 0.92620256, 0.26882908],
       [0.81122146, 0.5179386 , 0.95999923, 0.08530323, 0.68781369],
       [0.67185616, 0.04956398, 0.98563438, 0.53543254, 0.89221467],
       ...,
       [0.88319717, 0.59848925, 0.99987866, 0.06974378, 0.62640525],
       [0.65289311, 0.51533463, 0.14514444, 0.59619083, 0.53798699],
       [0.06796375, 0.95527937, 0.03690598, 0.02398267, 0.24394902]])