In [1]:
import pandas as pd

# grouping

pandas provides a grouping method called as groupby() method which can be ussed along with various arithmetic methods like count(), sum(), min(), max(), etc.

In [2]:
d1 = {
    'name' : ['prathmesh', 'siddhi', 'ravi', 'mangal', 'kushal', 'om', 'rushi', 'soham'],
    'marks' : [99, 89, 95, 94, 94, 89, 89, 100],
    'city' : ['khatav', 'satara', 'mumbai', 'indore', 'pune', 'delhi', 'amritsar', 'nagar'],
    'state' : ['maharashtra', 'maharashtra', 'maharashtra', 'MP', 'maharashtra', 'haryana', 'punjab', 'maharashtra']
}

In [3]:
df = pd.DataFrame(d1)

In [4]:
df

        name  marks      city        state
0  prathmesh     99    khatav  maharashtra
1     siddhi     89    satara  maharashtra
2       ravi     95    mumbai  maharashtra
3     mangal     94    indore           MP
4     kushal     94      pune  maharashtra
5         om     89     delhi      haryana
6      rushi     89  amritsar       punjab
7      soham    100     nagar  maharashtra

In [5]:
groupby_marks = df.groupby('marks').marks.count()
groupby_marks.head()

marks
89     3
94     2
95     1
99     1
100    1
Name: marks, dtype: int64

In [6]:
df.groupby('marks').marks.count().sort_values() #you can add ascending=False in sort_values() function

marks
95     1
99     1
100    1
94     2
89     3
Name: marks, dtype: int64

Another method for grouping the is by using apply() method.

In [8]:
df.groupby(['city', 'state']).apply(lambda t : t.loc[t.marks.idxmax()])

                           name  marks      city        state
city     state
amritsar punjab           rushi     89  amritsar       punjab
delhi    haryana             om     89     delhi      haryana
indore   MP              mangal     94    indore           MP
khatav   maharashtra  prathmesh     99    khatav  maharashtra
mumbai   maharashtra       ravi     95    mumbai  maharashtra
nagar    maharashtra      soham    100     nagar  maharashtra
pune     maharashtra     kushal     94      pune  maharashtra
satara   maharashtra     siddhi     89    satara  maharashtra